html{
    font-family: 'Inter', sans-serif;
}

body{
    background: #D8DFE8;
}

.logo{
    margin: 20px;
    float: left;
    width: 50px;
    height: 48px;
}

.texto-encriptado{
    height: 850px;
    width: 680px;
    margin: 5em 2em 0 5em;
    float: left;
}

.texto-encriptado textarea{
        background: #D8DFE8;
        border: none;
        resize: none;
}

.texto-encriptado textarea::placeholder{
    font-size: 32px;
}

.texto-encriptado p{
    margin-bottom: 16px;
}

#decodificador{
    height: 850px;
    width: 400px;
    background: white;
    margin: 40px;
    border-radius: 32px;
    float: right;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.10);
}

#decodificador textarea{
    background: white;
    border: none;
    resize: none;
    overflow-y: scroll;
}

.botoes input{
    margin-right: 1em;
}

.botao-encriptar{
    width: 320px;
    height: 67px;
    background: #0A3871;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.botao-encriptar:hover{
    background: white;
    color: black;
    font-size: 20px;
    transition: 0.5s;
}

.botao-desencriptar{
    width: 320px;
    height: 67px;
    background: #D8DFE8;
    color: #0A3871;
    border: solid;
    border-color: #0A3871;
    border-radius: 24px;
    cursor: pointer;
}

.botao-desencriptar:hover{
    background: #0A3871;
    color: white;
    border-color: #0A3871;
    font-size: 20px;
    transition: 0.5s;
}

.titulo{
    margin-top: 32px;
    font: 24px;
    font-weight: bold;
    text-align: center;
}

.paragrafo{
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
}

.img-personagem{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 243px;
}

#botao-copiar{
    margin: 20px auto;

}

.input-copiar{
    width: 40%;
    height: 67px;
    padding: 15px 0;
    display: block;
    background: white;
    color: #0A3871;
    border: solid;
    border-color: #0A3871;
    border-radius: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.input-copiar:hover{
    background: #0A3871;
    color: white;
    border-color: #0A3871;
    font-size: 20px;
    transition: 0.5s;
}

#mensagemDecript{
    margin-top: 32px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 385px;
    height: 700px;
    overflow-y: scroll;
}

#mensagem{
    font-size: 25px;
}

.aviso{
    display: block;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
}